# Requirements for reproducing the inference system with needed dependencies and version

# Will continue to add and provide the versions after project completion

# API Development
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2

# Queu + Distributed Worker System
redis==5.0.8
rq==1.16.2

# LLM Generation
openai==1.47.0

# Environment Variable Handling
python-dotenv==1.0.1

# Vector Database / RAG
pinecone[grpc]==5.3.1

# Optional Utilities
requests==2.32.3
tenacity==9.0.0

